@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'aspb';
  src: url('WorkSans-Bold.ttf');
}
@font-face {
  font-family: 'aspl';
  src: url('WorkSans-Light.ttf');
}
@font-face {
  font-family: 'aspm';
  src: url('WorkSans-Medium.ttf');
}


:root {
  --main-color: #75bfff;
}

.theme-color {
  color: var(--main-color);
}

.nickname {
  font-family: aspb;
}

.d {
  font-family: aspl;
}

.m {
  font-family: aspm;
}

* {
  overflow: hidden;
}
