@import "tailwindcss";

@font-face {
  font-family: 'aspb';
  src: url('AppliedSansProBold.TTF');
}
@font-face {
  font-family: 'aspl';
  src: url('AppliedSansProLight.TTF');
}

:root {
  --main-color: #3498db;
}

.theme-color {
  color: var(--main-color);
}

.nickname {
  font-family: aspb;
}

.d, .profile {
  font-family: aspl;
}
